/* RobotoRegular */
@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/UbuntuRegular.woff2");
}

@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("../fonts/UbuntuMedium.woff2");
}

@font-face {
	font-family: Ubuntu;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/UbuntuBold.woff2");
}